#about{
    /* background-color: aqua; */
    height: fit-content;
    margin-bottom: 120px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    scroll-margin-top: 150px;
}

.about-ls{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content img{
    /* width: clamp(300px, 3rem, 3rem); */
    height: 250px;
    width: auto;
}

.about-rs{
    width: 70%;
    padding-left: 8%;
}

.our-mission{
    margin-left: 18px;
}


@media (max-width: 850px) {
    #about{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 20px 0px;
    }
    .about-ls{
        width: 100%;
    }
    .about-rs{
        width: 100%;
    }
    .about-content img{
        margin-bottom: 30px;
    }
}